@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

$primary: #e8505b;
$secondary: #263238;

a,
p {
  text-decoration: none;
  font-weight: 600;
}

.btn-pri {
  background-color: $primary;
  border: $primary solid 2px;
  font-size: 14px;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
}

.btn-sec {
  background-color: white;
  font-size: 14px;
  color: $primary;
  padding: 12px 25px;
  border: $primary solid 2px;
  border-radius: 30px;
}

nav {
  font-weight: 600;
  width: 40vw;
  margin: 50px 144px 0 auto;
  ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    color: $primary;
    li {
      a {
        color: $primary;
      }
    }
  }
}

.hero {
  height: 55vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 120px 0 0 0;
  .box {
    padding: 0 0 15px 60px;
    border-left: $primary solid 8px;
    h2 {
      color: $primary;
      letter-spacing: 3px;
    }
    h1 {
      color: $secondary;
      letter-spacing: 3px;
      font-size: 48px;
      margin: 10px 0px 20px 0px;
    }
    div {
      .btn-pri {
        margin-right: 20px;
      }
    }
  }
  .hero-img {
    width: 550px;
    margin-right: 144px;
  }
}

.about {
  margin-top: 200px;
  .section-heading {
    .section-box {
      width: 150px;
      height: 60px;
      background-color: $primary;
    }
    h2 {
      color: $secondary;
      position: absolute;
      left: 70px;
      margin-top: -45px;
    }
  }
  .desc {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
      width: 50vw;
      line-height: 22px;
    }
    img {
      width: 250px;
      border: 8px solid $primary;
      border-radius: 100%;
    }
  }
  .watermark {
    font-size: 200px;
    letter-spacing: 10px;
    color: rgba(0, 0, 0, 0.05);
    font-weight: 900;
    margin-left: 80px;
  }
}
